/*********** list of contacts *************/

/* style text on site */
body{
  font-family: Century Gothic;
  background-color: #9CD6F2;
}

p{
  color: gray;

}

/* left-hand column */
#contactList{
  border-right: 1px solid black;
  width: 15%;
  height: 550px;
  float: left;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 1), 0 1px 4px rgba(0, 0, 0, 0.24);
  text-align:center
}

/* style list of contacts */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #white;
}

li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-top: 1px solid black;
    cursor: pointer;
    font-family: Century Gothic;
}

/* Change the color on hover */
li:hover{
    background-color: #555;
    color: white;
}


/*************contact info****************/
/* holds contact info and divs */
#contactContainer{
  width: 50%;
  height: 520px;
  float: left;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  padding: 25px 50px 25px 50px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.24);
  background-color: white;
}

/* div to hold each piece of info */
.contactInfo{
  position: relative;
  height: 20px;
  width: 400px;
}

/* name div */
.name{
  width: 500px;
  height: 40px;
  font-size: 30px;
  font-family: Arial Black;
  position: relative;
}

/* mobile div */
#mobile{
  margin-top: -197px;
  margin-left: 62px;
}

/* home div */
#home{
  margin-top: 34px;
  margin-left: 57px;
}

/* address div */
#address{
  margin-top: 33px;
  margin-left: 70px;
}

#email{
  margin-top: 34px;
  margin-left: 50px;
}

#addButton{
  margin-top: 260px;
  font-size: 15px;
  cursor: pointer;
  float: right;
}

#editButton{
  margin-left: 500px;
  margin-top: 260px;
  float: right;
  font-size: 15px;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #9CD6F2;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #9CD6F2;
    color: white;
}